@import '../../style/reset.scss';
@import '../../style/utils.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.hSearch_wrapper {
  .hSearch_title {
    font-weight: 400;
    font-style: italic;
  }
  .hSearch {
  }
}

@media only screen and (min-width: 768px) {
}

.diary_data {
  margin-top: 5rem auto;
  .hSearch_title {
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: 500;
    font-style: italic;
  }
}
// /*

// !* 스마트폰 가로+세로 *!

// @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
// }

// !* 스마트폰 세로 *!
// @media only screen and (max-width : 320px) {
// }

// !* 데스크탑 브라우저 가로 *!
// @media only screen and (min-width : 1224px) {
// }

// !* 큰 모니터 *!
// @media only screen and (min-width : 1824px) {
// }

// &:hover {
//   background: $lightgreen;
//   color: #ffffff;
// }
