@import '../../style/utils.scss';
@import '../../style//reset.scss';

* {
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans KR';
}
.dairyData_wrapper {
  height: 100vh;
  position: relative;
  .diaryData_icon {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: 24.2rem;
    top: 2.4rem;
    z-index: 2;
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
}

.dairyData_headline {
  width: 100%;
  position: relative;
  .headline_img img {
    height: 17rem;
    filter: brightness(40%);
  }
  .headline_title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 2.4rem;
    text-align: center;
    color: #ffffff;
  }
}

.dairyData_info_top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.2;
  color: $basicFont;
  .info_left {
    font-weight: 600;
  }
  .info_right {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
  }
}
.dairyData_info_bottom {
  padding-left: 1rem;
  font-size: 1rem;
}

.dairyData_note {
  padding: 1.7rem;
  font-size: 1.2rem;
}

// .dairyData_movieData {
//   padding: 1rem;
//   border-bottom: 1px solid $black;
//   h4 {
//     font-size: 1.5rem;
//     // border-bottom: 1px solid $gray;
//     background: $lightgreen;
//     color: $white;
//     width: 136px;
//     padding: 0.4rem;
//     letter-spacing: 0.5rem;
//   }

//   .movieInfo_text {
//     font-size: 1.3rem;
//     line-height: 2;
//     font-weight: 500;
//     letter-spacing: 0.1rem;
//   }
// }

// .movieInfo_text_title {
//   padding-right: 0.5rem;
//   margin-top: 0.5rem;
// }

@media only screen and (min-width: 768px) {
  .dairyData_diary {
    position: relative;
    .dairyData_diary_data {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate(-50%, -65%);
    }
  }
  .dairyData_diary_user_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    img {
      // padding: 0.5rem;
      width: 50rem;

      filter: brightness(40%);
    }
  }

  .dairyData_movieData {
    border: none;
    margin-top: 7rem;
    padding: 1rem;

    h4 {
      font-size: 2.5rem;
      width: 200px;
      padding: 0.4rem;
      letter-spacing: 0.5rem;
    }
    .movieInfo_text {
      font-size: 1.6rem;
      line-height: 2;
      font-weight: 500;
      letter-spacing: 0.1rem;
    }
  }
  .movieInfo_note {
    width: 80%;
    margin: 2rem auto;
    p {
      height: 50vh;
      font-size: 1.5rem;
      line-height: 2;
      letter-spacing: 0.2;
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .dairyData_wrapper {
    display: flex;
  }
  .dairyData_diary {
    position: relative;
    .dairyData_diary_data {
      width: 45rem;
      position: absolute;
      padding: 1rem;
      color: $white;
      line-height: 3.5;
    }
  }
  .dairyData_diary_user_img {
    img {
      // padding: 0.5rem;
      width: 50rem;
      height: 40rem;
      filter: brightness(40%);
    }
  }
  .movieInfo_note {
    border-top: 1px solid $black;
    width: 90%;
    margin: 5rem auto;
    p {
      margin-top: 2rem;
      font-size: 1.5rem;
      line-height: 2;
      letter-spacing: 0.2;
    }
  }
}
