@import '../../style/utils.scss';
@import '../../style//reset.scss';

* {
  box-sizing: border-box;
  font-family: 'sf-ui-display';
}
.dairyData_wrapper {
  height: 100vh;
  position: relative;
}

.dairyData_headline {
  width: 100%;
  position: relative;
  .headline_img img {
    object-fit: cover;
    padding-top: 10px;
    filter: brightness(40%);
  }
  .headline_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3;
    text-align: center;
    color: #ffffff;

    @media all and (min-width: 767px) and (max-width: 1024px) {
      font-size: 3rem;
    }
    @media all and (min-width: 1024px) {
      font-size: 3.5rem;
    }
  }
  .data_list_btn {
    position: absolute;
    top: 80%;
    right: 5%;

    background: $lightgreen;
    color: $white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    @media all and (min-width: 767px) and (max-width: 1024px) {
      width: 3rem;
      height: 3rem;
    }
    @media all and (min-width: 1024px) {
      width: 5rem;
      height: 5rem;
    }
  }
}

.dairyData_info_top {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  line-height: 1.2;
  color: $basicFont;
  @media all and (min-width: 767px) and (max-width: 1024px) {
    font-size: 1.7rem;
    line-height: 1.5;
  }
  @media all and (min-width: 1024px) {
    font-size: 2.2rem;
    line-height: 2;
  }

  .info_left {
    font-weight: 500;
    //텍스트가 길어져도 킵
    white-space: nowrap;
  }
  .info_right {
    text-align: right;
    font-style: italic;
  }
}
.dairyData_info_bottom {
  padding-left: 1rem;
  font-size: 1.3rem;
  @media all and (min-width: 767px) and (max-width: 1024px) {
    font-size: 1.7rem;
  }
  @media all and (min-width: 1024px) {
    font-size: 2.2rem;
  }
}

.dairyData_note {
  padding: 1.1rem;
  font-size: 1.7rem;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: justify;
  line-height: 2;
  font-weight: 300;

  @media all and (min-width: 1024px) {
    font-size: 2.2rem;
  }
}
