.home_img1 {
  background: url('../../image/image_4.jpg');
  width: auto;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}

.home_img2 {
  background: url('../../image/image_2.png');
  width: auto;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
}
