@import '../../style/utils.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', 'Noto Sans KR';
}

//never search
.movie_search {
  display: flex;
  justify-content: center;
  align-items: center;
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    @include input;
    background: inherit;
    margin: 1rem;
    // background-image: url('../../search.jpg');
  }
  button {
    width: 50px;
    text-decoration: none;
    background: none;
  }
}

.MovieItem {
  border: 0.1rem solid $black;
  cursor: pointer;
  width: 15rem;
  height: 24.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  // img {
  //   width: 10rem;
  //   height: 10rem;
  // }
}

.movie_search_result {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  @media only screen and (min-width: 1025px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
}

//write_date

.write_rating {
  display: flex;
  margin-top: 1rem;

  .icon {
    width: 5rem;
  }
  .star {
    display: flex;
    justify-content: space-between;
    width: 5rem;
  }
}

.write_content {
  height: 10vh;
  border-radius: 3px;
  list-style: none;
  box-shadow: none;
  outline: none;
  font-size: 1.5rem;
}

.tags {
  display: flex;
}

.TagItem {
  width: 5rem;
  color: $black;
  text-align: center;
  font-weight: 600;
  padding: 4px 8px;
  border: 1px solid $black;
  border-radius: 6px;
  cursor: pointer;
  margin: 4px;
  &:hover {
    background: $black;
    color: $white;
  }
}

.search_button {
  display: flex;
  justify-content: flex-end;

  button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: background 0.3s;
    width: auto;
    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    margin-right: 1.5rem;

    background: $black;
    &:hover {
      background: lighten($black, 5%);
    }
  }
}
