@import '../../style/reset.scss';
@import '../../style/utils.scss';

* {
  font-family: 'sf-ui-display';
}

.scroll_top_icon {
  transform: rotate(180deg);
}
.main_wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.938);
  color: $white;
  height: 90vh;
  width: 100%;
  border-bottom: 3px solid $white;
}

.mypage_header {
  display: flex;
  align-items: center;
  .mypage_title {
    font-weight: 600;
    font-size: 1.7rem;
  }
  .mypage_totalcount {
    font-weight: 500;
    font-size: 1.2rem;
  }
}

%main_styles {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 90%;
}

.main_top {
  position: relative;
  .main_top_img {
    object-fit: cover;
    height: 26rem;
    filter: brightness(60%);
  }
  .main_user_title {
    @extend%main_styles;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 2.6;
  }
  .main_top_tag {
    @extend%main_styles;
    top: 82%;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1em;
  }
}
.main_content {
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  p {
    //공백을 있는 그대로 표기
    white-space: pre-wrap;
    text-align: justify;
    //line-clamp * line-height값으로 해줘야함;
    height: 10em;
    line-height: 2;
    letter-spacing: 0.005em;
    font-size: 1.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}

.main_footer {
  display: flex;

  span {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #7b7b7b;
  }
}

@media only screen and (min-width: 768px) {
  .diary_data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .diary {
    width: 18rem;
    height: auto;
    &:hover {
      background: $lightgreen;
    }

    .diary_content {
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 0.15em;
      .userTitle {
        font-style: italic;
      }
    }
  }
}

// /*

// !* 스마트폰 가로+세로 *!

// @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
// }

// !* 스마트폰 세로 *!
// @media only screen and (max-width : 320px) {
// }

// !* 데스크탑 브라우저 가로 *!
// @media only screen and (min-width : 1224px) {
// }

// !* 큰 모니터 *!
// @media only screen and (min-width : 1824px) {
// }
