@import '../../style/reset.scss';
@import '../../style/utils.scss';

.main_data {
  margin-top: 25px;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.938);
  color: $white;
  height: 100vh;
  width: 100%;
}

%main_styles {
  position: absolute;
  top: 65%;
  left: 5%;
  width: 90%;
}

.main_top {
  position: relative;
  .main_top_img {
    height: 26rem;
    filter: brightness(60%);
  }
  .main_user_title {
    @extend%main_styles;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  .main_top_tag {
    @extend%main_styles;
    top: 78%;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
}
.main_content {
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
  line-height: 1.5;
  letter-spacing: 0.15em;
  font-size: 1.6rem;
  p {
    //공백을 있는 그대로 표기
    white-space: pre-wrap;
    line-height: 1.5;
    height: 3.6em;
    box-pack: justify;
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 768px) {
  .diary_data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .diary {
    width: 18rem;
    height: auto;
    &:hover {
      background: $lightgreen;
    }

    .diary_content {
      font-size: 1.2rem;
      width: 100%;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 0.15em;
      .userTitle {
        font-style: italic;
      }
    }
  }
}

// /*

// !* 스마트폰 가로+세로 *!

// @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
// }

// !* 스마트폰 세로 *!
// @media only screen and (max-width : 320px) {
// }

// !* 데스크탑 브라우저 가로 *!
// @media only screen and (min-width : 1224px) {
// }

// !* 큰 모니터 *!
// @media only screen and (min-width : 1824px) {
// }
