@import '../../style/utils.scss';
@import '../../style//reset.scss';

* {
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans KR';
}

.mypage_wrapper {
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
  h1 {
    color: $black;
  }
  // .mypage_totalcount {
  //   margin-top: 2rem;
  //   font-size: 1.4rem;
  //   font-weight: 500;
  //   .total {
  //     font-size: 1.3rem;
  //     font-weight: 600;
  //     color: $lightgreen;
  //   }
  // }
}

.mypage_wrapper {
  margin-left: 1.4rem;
}

.mypage_header {
}
.data_wrapper {
  display: flex;
  flex-direction: column;
  // width: 29rem;
}

section {
  margin-top: 1rem;

  .data_list {
    width: 29rem;
    margin-right: 2rem;
    position: relative;
    img {
      width: 100%;
      height: 15rem;
      border-radius: 2%;
      filter: brightness(60%);
    }
  }

  .data_list_info_title {
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 1.7rem;
  }
  .data_list_info_date {
    color: $white;
    font-size: 7px;
    position: absolute;
    top: 60%;
    left: 0;
    text-align: center;
    font-weight: 400;
    font-style: italic;
  }
}

.main_total {
  color: black;
}

@media only screen and (min-width: 768px) {
  // .data_wrapper {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-gap: 1rem;
  // }
}
