@import '../../style/utils.scss';
@import '../../style/reset.scss';

* {
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans KR';
}

.authForm_wrapper {
  h1 {
    margin-top: 10rem;
    text-align: center;
    color: $black;
  }

  form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .auth_input {
    margin: 3px auto;
    border: none;
    border: 1px solid #262626;
    padding: 1.2rem;
    font-size: 10px;
    width: 80%;
    cursor: pointer;
    text-align: center;
  }

  .button {
    a {
      display: flex;
      justify-content: center;
      background: none;
    }
    button {
      padding: 0.8rem;
      width: 50%;
      background: $lightgreen;
      color: #f2f2f2;
      border-radius: 3px;
      margin-top: 1rem;
      font-size: 1.7rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  footer {
    margin-top: 2rem;
    text-align: center;
    a {
      color: $black;
      cursor: pointer;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .registerbtn {
    padding: 0.8rem;
    width: 50%;
    color: #f2f2f2;
    background: $lightgreen;
    border-radius: 3px;
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .authForm_wrapper {
    h1 {
      margin-top: 10rem;
      text-align: center;
      color: $black;
    }

    form {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .auth_input {
      margin: 3px auto;
      border: 1px solid #262626;
      padding: 1.2rem;
      font-size: 12px;
      width: 50%;
      cursor: pointer;
      text-align: center;
    }
  }
}
