@import './style/utils.scss';
#root {
  min-height: 100%;
  font-family: 'sf-ui-display', 'Roboto';
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size: 10px;
}
/* 
positon-fixed해주려면 필요한 작업 */
body {
  padding-top: 25px;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
