@import '../../style/utils.scss';
@import '../../style/reset.scss';

* {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.wrapper {
  .logo {
    height: 4rem;
    background-color: $black;
    width: 100vw;
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
  height: 8rem;

  .search {
    width: 35rem;
    display: flex;
    align-items: center;
    margin-right: 1.2rem;
    margin-left: 1rem;

    input {
      border: none;
      border-bottom: 1px solid $gray;
      text-align: center;
      padding-bottom: 0.5rem;
    }
    input::placeholder {
      color: $basicFont;
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-right: 1rem;

    button {
      width: 2rem;
      background: none;
      border: none;
      box-shadow: none;
      font-size: 1.2rem;
      margin-top: 0.2rem;
    }
  }
  .icon {
    margin-right: 1rem;
  }
}

.text {
  width: 100%;
}

.logout {
  width: 3rem;
  margin-right: 1rem;
}

// >1024px
@media only screen and (min-width: 1024px) {
  .menu_wrapper {
    .search {
      input {
        padding: 0.5rem;
      }
      input::placeholder {
        color: $basicFont;
        font-size: 1.6rem;
        font-style: italic;
      }
    }
  }
  .list {
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.6rem;
      cursor: pointer;
      transition: background-color 0.3s;
      text-decoration: none;

      button {
        width: 2rem;
        background: none;
        border: none;
        box-shadow: none;
        font-size: 1.2rem;
        margin-top: 0.2rem;
      }
    }
    .icon {
      width: 15rem;
      margin-right: 1rem;
    }
  }
}
