@import '../../style/utils.scss';
@import '../../style/reset.scss';

* {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.header_full {
  position: relative;
}
.header_wrapper {
  // index.css에 padding값 필요함
  position: fixed;
  top: 0;
  left: 0;
  //positon 겹침 현상 해소
  z-index: 1;
  background-color: $lightgreen;
}

.header_logo {
  .header_logo_title {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      //height값을 부모랑 똑같이 안주면 위로 탁 붙어버림! 자식을 주면 부모는 height값 생략 가능
      min-width: 100%;
      height: 5rem;
      font-size: 2.2rem;
      color: white;
    }
  }
}

.header_menu {
  background-color: white;
  display: flex;
  height: 8rem;

  .search {
    // width: 16rem;
    display: flex;
    align-items: center;
    margin-right: 5rem;

    input {
      border: none;
      text-align: center;
      padding-bottom: 0.5rem;
    }
    input::placeholder {
      color: $basicFont;
      font-size: 0.9rem;
      font-style: italic;
    }
  }
}

.list {
  display: flex;

  .menu {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    // margin-right: 1rem;
  }
  .icon {
    margin-right: 1rem;
  }
}

// >768
@media only screen and (min-width: 768px) {
  .header_menu {
    display: flex;
    justify-content: space-around;
    .search {
      width: 40rem;
      margin-left: 10rem;

      input {
        padding: 0.5rem;
      }
      input::placeholder {
        color: $basicFont;
        font-size: 1.6rem;
        font-style: italic;
      }
    }
  }
  .list {
    width: 30rem;
    .menu {
      font-size: 1.6rem;
      cursor: pointer;
      transition: background-color 0.3s;
      text-decoration: none;
      .text {
        width: 10vw;
      }
      button {
        background: none;
        border: none;
        box-shadow: none;
        font-size: 1.5rem;
        margin-top: 0.2rem;
      }
    }
  }
}
